.main-page{
    min-height: 100vh;
}

/* bg 컨텐츠 */
.main-page .main-bg .content{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 350px;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.main-page .main-bg .content .img-box{
    position: absolute;
    left: 220px;
    bottom: 10px;
    width: 660px;
    height: 500px;
    z-index: -1;
}
.main-page .main-bg .content .img-box img{
    width: 100%;
    height: 100%;
}
.main-page .main-bg .content .main-text{
    margin-left: 300px;
    text-align: left;
    height: 100%;
}


.main-page .main-bg .content .main-text h1{
    font-size: 70px;
    font-weight: bold;
}

.main-page  .main-bg .content .main-text .slide-box{
    font-size: 70px;
    font-weight: bold;
    display: inline-flex;
    overflow: hidden;
    gap: 20px;
    height: 100px;
}

.main-page .main-bg .content .main-text h2{
    font-size: 35px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.main-page  .main-bg .content .main-text h2 span{
    box-sizing: content-box;
    color: #fff;
    border-radius: 12px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.main-page  .main-bg .content .main-text h2 span.type-a{
    background-color: #F6CC84;
    transform: rotate(-20deg);
    
}
.main-page  .main-bg .content .main-text h2 span.type-b{
    background-color: #BD84F6;
    transform: rotate(10deg);
}
.main-page  .main-bg .content .main-text h2 span.type-c{
    background-color: #F684A3;
    transform: rotate(-5deg);
}

.main-page  .main-bg .content .main-text .slide-box strong.type-a{
    color: #F6CC84;
}
.main-page  .main-bg .content .main-text .slide-box strong.type-b{
    color: #BD84F6;
}
.main-page  .main-bg .content .main-text .slide-box strong.type-c{
    color: #F684A3;   
}

.main-page .main-bg .content h1 span{
    /* font-size: 36px; */
    font-weight: bold;
}

.main-page .main-bg .main-chart{
    margin-top: auto;
    display: flex;
    border: solid 1px #004898;
    background-color: #004898;
    background-color: #edf1fe;
    box-shadow: 0px 0px 5px #004898;
    padding: 12px 40px;
    min-height: 200px;
    align-items: center;
    justify-content: space-between;
}
.main-page .main-bg .main-chart h1{
    font-size: 55px;
    color: #004898;
}
.main-page .main-bg .main-chart p{
    font-size: 20px;
    color: #5172df;
    padding-top: 10px;
    font-weight: bold;
}

/* 파트A */
.main-page .content-go{
    margin-bottom: 120px;
}
.main-page .part-a-bg{
    width: 100vw;
    background-color: #edf1fe;
    background-size: 100vw;
    height: 100%;
    padding: 30px;
}

.main-page .part-a h1{
    font-size: 28px;
    line-height: 150%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.main-page .part-a .part-wrap{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.main-page .part-a .part-wrap .text-card{
    flex: 1;
    padding: 40px 30px;
    border-radius: 12px;
    height: 300px;
    border: solid 1px #dbdee1;
    background-color: #fff;
}
.main-page .part-a .part-wrap .text-card h2{
    margin-top: 50px;
    font-size: 22px;
}
.main-page .part-a .part-wrap .text-card p{
    margin-top: 10px;
    font-size: 18px;
}

.main-page .part-a .part-wrap .img-box{
    width: 65px;
    height: 65px;
}
.main-page .part-a .part-wrap .img-box img{
    width: 100%;
    height: 100%;
}

.main-page .part-a a{
    margin-left: auto;
    display: flex;
    align-items: center;
    max-height: 52px;
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: #4F52C3;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* 파트B */
.main-page .part-b {
    margin: 100px 0;
    padding: 50px 0;
    text-align: center;
}

.main-page .part-b h1 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #333;
}

.main-page .part-b .part-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 550px;
}

.main-page .part-b .text-box {
    max-width: 600px;
    text-align: left;
    margin-top: 30px;
    height: 100%;
    margin-right: 20px;
}

.main-page .part-b .text-box h3 {
    font-size: 24px;
    color: #4F52C3;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.main-page .part-b .text-box h3 svg {
    margin-right: 10px;
}

.main-page .part-b .text-box p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.main-page .part-b .text-box span {
    display: block;
    margin-top: 20px;
    color: #999;
    font-size: 14px;
}
.main-page .part-b .part-wrap .img-box{
    width: 800px;
}

.main-page .part-b .part-wrap img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-page .part-b a {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 30px;
    background-color: #4F52C3;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.main-page .part-a a:hover,
.main-page .part-b a:hover {
    background-color: #3b41a1;
}

/* 파트C */
.main-page .part-c{
    padding: 10px;
    border: solid 1px red;
}

/* notice */
.notice-box{
    margin-bottom: 120px;
}
.notice-box h1{
    font-size: 28px;
}

.notice-box .notice-btn-box{
    font-size: 18px;
    margin: 50px 0 20px 0;
    display: flex;
    gap: 20px;
    font-weight: bold;
    
}
.notice-box .notice-btn-box button{
    border-bottom: 2px solid transparent;
}

.notice-box .notice-btn-box button.active{
    color: #4F52C3;
    border-bottom: 2px solid #4F52C3;
}

.notice-box .notice-btn-box a{
    margin-left: auto;
}


.notice-box .content{
    min-height: 230px;
    border-top: 1px solid #eff1f9;
    border-bottom: 1px solid #9e9e9e;
}

.notice-box .content p{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.notice-box .content p a:hover{
    color: #4F52C3;
}
.notice-box .content p:nth-child(1){
    padding-top: 20px;
}
.notice-box .content p:nth-last-child(1){
    padding-bottom: 20px;
}

.notice-box .content-box .content span{
    color: #a3a3a3;
    font-size: 14px;
}