.origami {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .paper {
    width: 600px;
    height: 600px;
    background-color: white;
    border: 1px solid #ccc;
  }
  
  /* .btn-box {
    margin-top: 20px;
  } */
  
  /* .btn-box button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
   */