.edu-music {
    background-color: #f0f0f0;
    width: 100vw;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-rows: 6fr 4fr;
}

.score-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    border: solid 20px #6f6f6f;
    overflow: scroll;
}
.score {
    width: 100%;
    background-color: #fff;
}
.score-container::-webkit-scrollbar {
    display: none;
}
.score-container:focus{
    outline: none;
}

/* 피아노 파트 */
.piano {
    min-width: 1280px;
    width: 100%;
    max-width: 100vw;
    background-color: #6f6f6f;
    padding: 20px;
    box-shadow: 0, 0, 5px, 5px;
    display: grid;
    user-select: none;
}
/* 컨트롤러 */
.piano .piano-controller{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    max-height: 80px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: relative;
    z-index: 100;
}
.piano .piano-controller h4 {
    padding-bottom: 5px;
}

.select-option p.active {
    color: #fff;
    padding: 0 20px;
    cursor: pointer;
    margin-bottom: 5px;
}
.select-ul {
    position: relative;
    height: 20px;
    overflow: hidden;
    transition: .3s;
    border-radius: 8px;
    cursor: pointer;
}
.select-ul.on {
    overflow: scroll;
    height: 100px;
}

.select-ul .select-li {
    background-color: #fff;
    padding: 0 20px;
    visibility: hidden; 
}
.select-ul.on .select-li {
    visibility: visible;
}
.select-ul .select-li {
    color: #000;
}
.select-ul .select-li:hover{
    color: pink;
}
.select-ul .select-li.active {
    color: #ff0000;
}

.note-selector{
    display: flex;
    gap: 10px;
}

.piano .btn-box{
    margin-left: auto;
}

.piano .btn-box button:not(:nth-child(1)){
    padding-top: 10px;
}

.piano button.scroll-fix,
.piano button.shortcut{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}
.piano button.scroll-fix span,
.piano button.shortcut span{
    display: block;
    margin-left: auto;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ff0000;
}
.piano button.scroll-fix.on span,
.piano button.shortcut.on span{
    background-color: rgb(33, 205, 33);
}


/* 노트 */
.piano .notes{
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.piano .notes button {
    max-width: 50px;
    width: 10%;
    height: 200px;
    margin: 1px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    text-align: center;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px #999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.piano button.active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    background-color: blueviolet;
}

.piano button.sharp {
    max-width: 30px;
    width: 8%;
    height: 120px;
    margin: 0 -15px;
    background-color: #000;
    color: #fff;
    z-index: 2;
    box-shadow: 0 3px #444;
}

.piano button.sharp.active {
    box-shadow: 0 2px #222;
    transform: translateY(2px);
    background-color: violet;
}
