.page-edit header,
.page-edit main,
.page-edit footer{
    all: unset;
}

.page-edit{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 200px;
    text-align: center;
}

.page-edit header,
.page-edit main,
.page-edit footer{
    border-bottom: 1px dotted #5172df;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page-edit footer{
    border-bottom: none;
}

.page-edit .add-btn{
    display: none;
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));

    width: 100%;
    height: 100%;
    z-index: 30;
}

.page-edit header:hover .add-btn,
.page-edit main:hover .add-btn,
.page-edit footer:hover .add-btn{
    font-weight: bold;
    display: block;
}

.page-edit header .add-btn:hover,
.page-edit main .add-btn:hover,
.page-edit footer .add-btn:hover{
    border: solid 2px #5172df;
}

.page-edit header.active,
.page-edit main.active,
.page-edit footer.active{
    border: solid 2px #004898;
}

.page-edit .navigation{
    z-index: 10;
}

.page-edit main{
    display: flex;
    flex-direction: column;
}

.page-edit .bg-img{
    width: 100%;
}

.page-edit .bg-img img{
    width: 100%;
    height: 100%;
}

.page-edit .content-box{
    display: grid;
}

.page-edit .grid-line{
    border: dotted 1px #e1e1e1;
    min-height: 300px;
}