/* 사이드바 파트 */
.admin-page .side-bar{
    padding: 0 20px;
    height: 100%;
    background-color: #edf1fe;
    position: absolute;
    left: -250px;
    transition: .5s;
    z-index: 100;
}

.admin-page .side-bar.on{
    left: 0px;
}

.admin-page .side-bar .title{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: solid 1px #004898;
}
.admin-page .side-bar .ctrl{
    width: 200px;
}

.admin-page .side-bar .ctrl h3{
    padding-bottom: 15px;
}

.admin-page .side-bar .ctrl ul li{
    display: flex;
    padding-left: 5px;
    padding-bottom: 12px;
}
.admin-page .side-bar .ctrl ul li:hover{
    font-weight: bold;
    cursor: pointer;
}

.admin-page .side-bar .ctrl ul button{
    float: right;
    padding-top: 2px;
    font-size: 13px;
}

.admin-page .side-bar .ctrl ul li button:hover{
    font-weight: bold;
}

.admin-page .switch-box{
    display: flex;
}
.admin-page .switch-btn{
    all: unset;
    margin-left: auto;
    border: solid 1px #5172df;
    padding: 2px;
    width: 36px;
    height: 18px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}
.admin-page .switch-btn:hover{
    background-color: none;
}
.admin-page .switch-btn span{
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .2s;
}
.admin-page .switch-btn span.green{
    background-color: green;
    left: 50%;
}