.smart-modal{
    position: fixed;
    width: 800px;
    height: 800px;
    border: solid 1px red;
    display: none;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.smart-modal.on{
    display: block;
}