@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /* padding-top: 60px; */
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}

a{
    all: unset;
    cursor: pointer;
}

button{
    all: unset;
    cursor: pointer;
}

table{
    border-collapse: collapse;
}

.title{
    display: flex;
    padding-right: 10px;
    gap: 20px;
}

.title h2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.title .print{
    background-color: #f2f4fa;
    border-radius: 50%;
    display: flex;
    box-sizing: content-box;
    padding: 6px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.title h5{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.title h5 .material-symbols-outlined{
    font-size: 10px;
    padding: 3px 5px 0;
}